body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}


h1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: white;
}
h2 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 70px;
  font-weight: 200;
  font-style: normal;
  color: white;
}
h3 {
  margin-top: 10;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  color: white;
}
h4 {
  margin-top: 10;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  color: white;
}
h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  color: black;
}
h6 {
  margin-top: 10;
  margin-bottom: 5px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  color: black;
}
h7 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 70px;
  font-weight: 200;
  font-style: normal;
  color: #1c24fc;
}
h8 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 200;
  font-style: normal;
  color: white;
}





.section_1 {
  background-image: url(images/Background_1.png);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px
}
.linksnavbar {
  display: flex;
  gap: 24px;
}
.link {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.logos {
  display: flex;
  gap: 24px;
}
.instagram, .mail {
  width: 25px;
}
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px
}
.link2 {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 12px 70px;
  border: 1px solid white
}
.photos {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.photo1, .photo2 {
  text-align: center;
}
.maurice, .bali {
  width: 675px;
  height: 675px;
}
.link6 {
  margin-top: 10;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  color: white;
  text-decoration: none;
}





.nourriture {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: start;
  padding: 0 60px
}
.link3 {
  text-decoration: none;
  font-size: 20px;
  color: #1c24fc;
  padding: 20px 35px;
  border: 1px solid #1c24fc
}
.photos_nourriture {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.photo3, .photo4, .photo5 {
  text-align: center;
}
.butter_chicken, .pad_thai, .couscous {
  width: 299px;
  height: 401.5px;
}
.link7 {
  margin-top: 10;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  color: black;
  text-decoration: none;
}
.voyage {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: start;
  padding: 0 60px
}
.photos_voyage {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.photo6, .photo7, .photo8 {
  text-align: center;
}
.inde, .japon, .vietnam {
  width: 299px;
  height: 401.5px;
}





.section_3 {
  background-color: #1c24fc;
}
.Louane {
  width: 200px;
  height: 300px;
}
.link4 {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 15px 30px;
  border: 1px solid white
}
.photo9 {
  text-align: center;
}





.section_4 {
  background-color: white;
}
.banner2 {
  text-align: center;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 70px
}
.link5 {
  text-decoration: underline;
  font-size: 14px;
  color: #1c24fc;
  font-family: "Merriweather", serif
}



